* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(118, 109, 98);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.list_container {
    background-color: white;
    width: 350px;
    padding: 1rem;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    max-height: 97vh;
}

.list_container h1 {
    margin-bottom: 1rem;
    text-align: center;
}

form input {
    /* flex: 1; */
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    width: 80%;
}

.list_container form button {
    padding: 10px 16px;
    background-color: rgb(17, 189, 208);
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
}

.cnt{
    margin: 1rem 1.5rem;
    overflow-y: auto;
    padding-right: 9px;
}

#taskList {
    /* padding: 1rem 1,5rem; */
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
    font-size: 1.3rem;
}
#taskList li {
    display: flex;
    justify-content: space-between;
}

#taskList li p{
    cursor: pointer;
}
.cross{
    background-color: white;
    border: none;
    font-size: 1.3rem;
    color: red;
}

.completed {
    text-decoration: line-through;
    color: gray;
}